@font-face {
font-family: 'HNRegular';
src: url('fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'), 
     url('fonts/helveticaneue-webfont.woff') format('woff'), 
     url('fonts/helveticaneue-webfont.ttf')  format('truetype');
}

@font-face {
font-family: 'HNLight';
src: url('fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'), 
     url('fonts/HelveticaNeue-Light.woff') format('woff'), 
     url('fonts/HelveticaNeue-Light.ttf')  format('truetype');
}

@font-face {
font-family: 'HNThin';
src: url('fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'), 
     url('fonts/helveticaneue-thin-webfont.woff') format('woff'), 
     url('fonts/helveticaneue-thin-webfont.ttf')  format('truetype');
}
@font-face {
font-family: 'PNRegular';
src: url('fonts/proximanova-reg-webfont.eot#iefix') format('embedded-opentype'), 
     url('fonts/proximanova-reg-webfont.woff') format('woff'), 
     url('fonts/proximanova-reg-webfont.ttf')  format('truetype');
}

@font-face {
font-family: 'PNThin';
src: url('fonts/proximanova-thin-webfont.eot#iefix') format('embedded-opentype'), 
     url('fonts/proximanova-thin-webfont.woff') format('woff'), 
     url('fonts/proximanova-thin-webfont.ttf')  format('truetype');
}
html, body{
	margin:0;
	padding: 0;
	height: 100%;
	/* Configuration pour avoir des polices sexy */
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* brunildo.org/test/aspect-table.html */
	font-size-adjust: 0.5;

	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;

	-webkit-hyphenate-before:2;
	-webkit-hyphenate-after:3;
	hyphenate-lines:3;
}


/* MENU */
nav{
	position: fixed;
	right: 1%;
	top:30%;
}
nav ul { 
	list-style-type: none;
}
/* FIN MENU */


/* DEBUT HEADER */

header{
	margin:0;
	padding:0;
	background: url(img/font_header.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 100%;
  	overflow: hidden;
}

.content{
	margin-left: 3%;
	height: 100%;
	width: 100%;
}

#logo{
	width: 172px;
	height: 172px;
}
header h1{
	margin-left: 6%;
	font-size: 75px;
	color: #fff;
	text-shadow: 0px 0.5px 7px black;
	font-family: HNThin;
	margin-bottom: 0;
	letter-spacing: 3px;
}
header h2{
	margin-left: 6%;
	margin-top: 0;
	font-size: 50px;
	color: #fff;
	font-family: HNThin;
	text-shadow: 0px 0.5px 7px black;
	letter-spacing: 1px;
}

}
img[id=logo]{
	margin-left:-20px;
}

/* Formulaire */

#fleche{
	margin-left: 6%;
	margin-right: 1%;
}
header form{
	margin-top: -0.5%;
	height: 30px;
}

#mail{
	position: relative;
	top: -55%;
	display: inline-block;
	border: solid 2px white;
	border-radius: 5px;
}

header input{
	margin: 0;
	padding: 0;
}

input::-webkit-input-placeholder { 
	color: rgba(255,255,255,1);
	font-size: 18px; }
input::-moz-placeholder { 
	color: rgba(255,255,255,1);
	font-size: 18px; }
input:-ms-input-placeholder { 
	color: rgba(255,255,255,1);
	font-size: 18px;; }
input::placeholder { 
	color: rgba(255,255,255,1);
	font-size: 18px; }

#mail #email {
	height: 30px;
	width: 190px;
	background: rgba(255,255,255,0.3);
	font-size: 18px;
	font-family: HNThin;
	padding-left: 10px;
	border: none;
	border-radius: 4px 0px 0px 4px;
	margin: 0;
}

#mail #submit {
	height: 30px;
	width: 180px;
	margin: 0;
	padding: 0;
	border: none;
	background-color: #e8565d;
	color: white;
	font-size: 18px;
	font-family: HNThin;
	border-radius: 0px 4px 4px 0px;
}
/* FIN HEADER */

/* DEBUT PAGE AGENCE*/
#agence{
	height:556px;
	width: 100%;
	margin: auto;
}
#agence #titre{
	font-size: 48px;
	color: #5b5f6c;
	text-align: center;
	font-family: PNRegular;
	margin-bottom: 2%;
}
#agence h3{
	margin-top: 0px;
	text-align: center;
	color: #8891a0;
	font-size: 24px;
	font-family: PNThin;
}
#agence ul{
	width: 85%;
	text-align: center;
	margin: auto;
	padding-left: 0px;
}
#agence li{
	display: inline-block;
	vertical-align: top;
}
#agence .texte_agence{
	width: 20%;
	margin: 25px;
}
.texte_agence img{
	float: left;
	width: 60px;
	height: 60px;
}
.texte_agence h2{
	font-size: 19px;
	font-family: HNLight;
	color: #333333;
	text-align: left;
	padding-left: 35%;
	padding-right: 15%;
	position: relative;
	top: -18px;
}
.texte_agence p{
	font-family: HNThin;
	color: #777777;
	font-size: 19px;
	text-align: justify;
	position: relative;
	top: -20px;
}
#agence .video{
	width: 50%;
}
#agence iframe{
	text-align: center;
	display: block;
    width: 100%;
    /*height: 315px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5%;
    border: 0;
}
/* FIN PAGE AGENCE */